.App {
  list-style: none;
  flex: auto;
  text-align: center;
}
.App p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-large;
  font-weight: bolder;
}
.searchBar {
  list-style: none;
  padding-top: 10px;
}
.search {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  font-weight: bold;
}
.bar {
  float: center;
  display: block;
  color: black;
  padding: 14px 16 px;
  font-size: large;
}
.checkbox {
  display: inline-block;
  font: small,
}
.table {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.colomnHead {
  font-size: large;
  display: inline-block;
}
.rowHead {
  font-size: large;
  display: inline-block;
}